pip==23.1.2
beautifulsoup4==4.11.1
boto3==1.28.45
botocore==1.31.45
Flask==2.2.2
Flask_Cors==4.0.0
googletrans==4.0.0rc1
numpy==1.23.5
Requests==2.31.0
summarizer==0.0.7
tensorflow==2.12.0
tensorflow_intel==2.12.0
torch==2.0.1
Requests==2.31.0
